* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-right: 5vw;
    padding-left: 5vw;
}

a {
    text-decoration: none;
    color: #0a090c;
}

h3 {
    font-size: medium;
}

p {
    font-size:small;
}


@media only screen and (min-width: 800px) {

    h3 {
        font-size: large;
    }
    
    p {
        font-size:medium;
    }

    ul {
        padding-right:  5vw;
        padding-left: 5vw;
      }
  }

  @media only screen and (min-width: 1000px) {
    ul {
      padding-right:  10vw;
      padding-left: 10vw;
    }
  }

  @media only screen and (min-width: 1200px) {
    ul {
      padding-right:  15vw;
      padding-left: 15vw;
    }
  }

 