* {
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    padding-right: 5vw;
    padding-left: 5vw;
}

a {
    text-decoration: none;
    color: #0a090c;
}

h3 {
    padding-left: 5vw;
}

p {
    font-size:small;
}

h5 {
  font-size:large
}


@media only screen and (min-width: 800px) {

    h3 {
        font-size: x-large;
    }
    
    p {
        font-size:medium;
    }
  }

  @media only screen and (min-width: 1000px) {
    h3{
      padding-left: 10vw;
    }

    ul {
      padding-right:  10vw;
      padding-left: 10vw;
    }
  }

  @media only screen and (min-width: 1200px) {
    h3{
      padding-left: 15vw;
    }

    ul {
      padding-right:  15vw;
      padding-left: 15vw;
    }
  }



  button
  {
    font-family: inherit; 
    font-size: 100%; 
  }
  