header {
    z-index: 999;
    position: sticky;
    top: 0;
}

#header-container {
    display:flex;
    border-bottom: #0a090c solid 2px;
    background-color: #2c666e;
    color: #f0edee;
}

#home-icon-container {
    flex-grow: 1;
}

#home-icon-container > img {
    max-height: 5vh;
    margin: 5px;
    border-color: #0a090c;
    border-width: 3px;
    border-style: solid;

}

#header-container > h1 {
    text-align: center;
    margin-left: 2vw;
    font-size:x-large;
}


#header-logged-in-user  {
    max-width:3rem;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: 1rem;;
    align-items: center;
}

#header-logged-in-user > a {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header-logged-in-user > a > img {

    width: 3rem;
    background-color: #f0edee;
    border-radius: 60%;
}

.hidden-user{
    display:none;
    position: absolute;
    background-color: white;
    color: #0a090c;
    translate: 0 4rem;
}

#header-logged-in-user:hover .hidden-user {
    display: block
}

nav {
    z-index: 999;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.nav-div {
    margin-left: 20px;
    margin-right: 20px;
    border-bottom:white solid 4px;
}



.nav-div > h2 {
    margin-bottom: 2px;
    font-size: larger;
}

.nav-div:hover {
    text-decoration: underline;
    color: #07393c;
}

.topics-dropdown {
    position: relative;
    display: inline-block;
}



.topics-dropdown-content {
    margin : 0;
    padding:0;
    padding-left: 20%;
    padding-right:20%;
    display: none;
    position: absolute;
    z-index: 9999;
    background-color: white;
}

.topics-dropdown-content > li {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.topics-dropdown-content > li > a {
    text-decoration: none;
}

.topics-dropdown-content a:hover {
    text-decoration: underline;
}

.topics-dropdown:hover .topics-dropdown-content {
    display: block;
}




@media only screen and (min-width: 800px) {
    #home-icon-container > img {
        max-height: 10vh;
    }
    
    #header-container > h1 {
        margin-left: 10vw;
        font-size: xx-large;
    }

    .nav-div > h2 {
        font-size:x-large;
    }
  }

  @media only screen and (min-width: 1000px) {
    #header-container > h1 {
        margin-left: 15vw;
    }
  }


 